<!DOCTYPE html>
<html ng-app="angular01App">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/clean-blog/css/clean-blog.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/board.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <title>Angular01</title>
</head>
<body ng-controller="boardController">

<%- include("./header.ejs") %>

<!-- List Core Contents -->
<div class="container board-list">
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="grid support-content">
                    <div class="grid-body">
                        <br><br>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="input-group">
                                    <div class="input-group-btn search-panel">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span id="searchType">Filter by</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a class="search-type" ng-click="searchTypeChange('btitle')">Title</a></li>
                                            <li><a class="search-type" ng-click="searchTypeChange('bcontent')">Content</a></li>
                                            <li><a class="search-type" ng-click="searchTypeChange('bwriter')">Writer</a></li>
                                            <li class="divider"></li>
                                            <li><a class="search-type" ng-click="searchTypeChange('anything')">Anything</a></li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="type" value="anything">
                                    <input type="text" class="form-control" id="searchKeyword" placeholder="Search">
                                    <span class="input-group-btn">
                                         <button class="btn btn-primary" type="button" ng-click="searchWithKeyword()">
                                             <span class="glyphicon glyphicon-search"></span>
                                         </button>
                                   </span>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12"><hr>
                                <ul class="list-group fa-padding" style="word-break: break-all;">
                                    <li class="list-group-item" data-toggle="modal"
                                        data-target="#issue" ng-repeat="board in boardList">
                                        <div class="media">
                                            <i class="fa fa-file-o pull-left"></i>
                                            <span class="number pull-right"># {{board.bno}}</span>
                                            <div class="media-body">
                                                <div class="btitle" style="cursor:pointer;" bno="{{board.bno}}" ng-click="detail($event)"
                                                     data-toggle="modal" data-target="#detailPostModal">{{board.btitle}}</div>
                                                <p class="info">
                                                    {{board.bwriter}}
                                                    <strong> /</strong>
                                                    <i class="fa fa-fw fa-clock-o"></i>{{board.bregdate}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <hr>
                            </div>

                            <div class="col-md-12">
                                <ul class="pagination pagination-sm pull-right" style="margin: 0 0; font-weight: bold;">
                                    <li ng-if="pageNo != 1">
                                        <a href="#" ng-click="showFirstPage()">
                                            <i class="fa fa-fw fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li ng-if="beginPage != 1">
                                        <a href="#" ng-click="showPreviousPage()">
                                            <i class="fa fa-fw fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li ng-repeat="i in range(beginPage, endPage + 1)">
                                        <a style="background-color: #afd9ee" href="#" pageNo="{{i}}" ng-if="i == pageNo" ng-click="pageChange($event)">{{i}}</a>
                                        <a href="#" pageNo="{{i}}" ng-if="i != pageNo" ng-click="pageChange($event)">{{i}}</a>
                                    </li>
                                    <li ng-if="endPage != lastPage">
                                        <a href="#" ng-click="showNextPage()">
                                            <i class="fa fa-fw fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li ng-if="pageNo != lastPage">
                                        <a href="#" ng-click="showLastPage()">
                                            <i class="fa fa-fw fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><br>


<!-- New Post Modal -->
<div class="modal fade fileDrop" id="newPostModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="file-drag"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h1 class="modal-title text-center">
                    <i class="fa fa-fw fa-pencil"></i>NEW POST
                </h1>
            </div>
            <div class="modal-body col-sm-10 col-sm-offset-1">
                <form class="form-horizontal" role="form" ng-submit="boardRegist()">
                    <div class="form-group">
                        <div class="col-sm-3 text-right" style="font-size: 12px;">
                            <label class="control-label">
                                <i class="fa fa-fw fa-lg fa-magic"></i>TITLE
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="50"
                                   required="required" placeholder="TITLE" ng-model="formData.btitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right" style="font-size: 12px;">
                            <label class="control-label">
                                <i class="fa fa-fw fa-lg fa-align-right"></i>CONTENT
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control" required="required"
                                     rows="7" placeholder="CONTENT" ng-model="formData.bcontent"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right" style="font-size: 12px;">
                            <label class="control-label">
                                <i class="fa fa-fw fa-lg fa-user"></i>NICKNAME
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="50"
                                   required="required" placeholder="NICKNAME" ng-model="formData.bwriter">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right" style="font-size: 12px;">
                            <label class="control-label">
                                <i class="fa fa-fw fa-lg fa-lock"></i>PASSWORD
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" maxlength="50"
                                   pattern=".{4,}" title="At least 4 characters"
                                   required="required" placeholder="PASSWORD" ng-model="formData.bpassword">
                        </div>
                    </div><hr>
                    <div style="float:right;">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-fw fa-floppy-o"></i>REGIST
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">CLOSE</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border: 0px;"></div>
        </div>
    </div>
</div>

<!-- Detail Post Modal -->
<div class="modal fade fileDrop" id="detailPostModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="file-drag"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h1 class="modal-title text-center">
                    <i class="fa fa-fw fa-pencil"></i>POST DETAIL
                </h1>
            </div>
            <div class="modal-body col-sm-10 col-sm-offset-1">
                <form class="form-horizontal" role="form" ng-submit="modifyBoard()">
                    <input type="hidden" ng-model="detailBoardBno">
                    <div class="form-group">
                        <div class="col-sm-3 text-right" style="font-size: 12px;">
                            <label class="control-label">
                                <i class="fa fa-fw fa-lg fa-magic"></i>TITLE
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="editBtitle" class="form-control" maxlength="50"
                                   required="required" ng-model="detailBoardBtitle" ng-readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 text-right" style="font-size: 12px;">
                            <label class="control-label">
                                <i class="fa fa-fw fa-lg fa-align-right"></i>CONTENT
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <textarea id="editBcontent" class="form-control" required="required"
                                      rows="7" ng-model="detailBoardBcontent" ng-readonly="readonly"></textarea>
                        </div>
                    </div>
                    <div class="form-group" id="boardPwdDiv" style="display: none;">
                        <div class="col-sm-3 text-right" style="font-size: 12px;">
                            <label class="control-label">
                                <i class="fa fa-fw fa-lg fa-lock"></i>PASSWORD
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" maxlength="50"
                                   required="required" placeholder="PASSWORD" ng-model="formData.bpassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="font-size: 14px;">
                            <label class="col-sm-8 control-label">
                                <i class="fa fa-fw fa-lg fa-user"></i>NICKNAME :
                            </label>
                            <label class="col-sm-4 control-label">
                                <i class="text-left" style="color: #4374D9">{{detailBoardBwriter}}</i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="font-size: 14px;">
                            <label class="col-sm-8 control-label">
                                <i class="fa fa-fw fa-clock-o"></i>POSTED DATE :
                            </label>
                            <label class="col-sm-4 control-label">
                                <i style="color: #4374D9">{{detailBoardBregDate}}</i>
                            </label>
                        </div>
                    </div><hr>

                    <div style="float:right;">
                        <button id="detailCloseBtn" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                        <button class="btn btn-success" type="button" ng-click="editBoard()" id="editBtn">
                            <i class="fa fa-fw fa-edit"></i>EDIT
                        </button>
                        <button class="btn btn-success" type="submit" id="modifyBtn" style="display: none;">
                            <i class="fa fa-fw fa-floppy-o"></i>MODIFY
                        </button>
                        <button class="btn btn-danger" type="button" id="deleteBtn"
                                ng-click="deleteBoard()" style="display: none;">
                            <i class="fa fa-fw fa-trash"></i>DELETE
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border: 0px;"></div>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>

<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/libs/angular/angular.js"></script>
<script src="/libs/xss/xss.js"></script>
<script src="/javascripts/controller/board.js"></script>
</body>
</html>